@import "tailwindcss";
@import "@cladd-ui/react/css";

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
}

body {
  /* background-color: #0f0f0f; */
  /* background-color: #fff; */
  font-family: Inter;
  @apply bg-cladd-bg;
}
